@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

body {
  background-image: linear-gradient(to top, #495057, white, #495057);
  font-family: "Lato", sans-serif;
}

header {
  width: 100vw;
  height: 16vh;
  background: #393a3b;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1rem !important;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.brand .icon {
  padding: 3rem;
  background-image: url(./Images/coffee\ cup-cuate.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

nav ul li:nth-child(odd) {
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

nav ul li:nth-child(odd):hover {
  background: #ffffff;
  transition: 0.5s;
  color: #000;
}

header div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header div:last-child form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header div:last-child form input {
  padding: 0.6rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

header div:last-child form input:first-of-type {
  width: 100%;
}

header div:last-child form input:last-of-type {
  width: 50%;
  background: transparent;
  border: 1px solid #dfc551;
  color: #dfc551;
  cursor: pointer;
}

header div:last-child form input:last-of-type:hover {
  background: #dfc551;
  color: #ffffff;
  transition: 0.5s;
}

header div:last-child span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

header div:last-child span button {
  height: 6vh;
  width: 8vw;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

header div:last-child span button:first-child {
  background: #0080ff;
}

header div:last-child span button:last-child {
  background: #16c54e;
}

header div:last-child span button:first-child:hover {
  background: #326eaa;
  transition: 0.5s;
}

header div:last-child span button:last-child:hover {
  background: #378d52;
  transition: 0.5s;
}

.box {
  height: 85vh;
  padding: 1rem;
}

.welcome-part {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.welcome-part article {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.welcome-part article main {
  height: 100%;
  width: 100vw;
  color: white;
  position: absolute;
  display: none;
}

#current {
  display: flex;
  animation-name: slide-1;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 1;
}

@keyframes slide-1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
#previous {
  display: flex;
  animation-name: slide-2;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 1;
}

@keyframes slide-2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.welcome-part article main .intro-img {
  border-radius: 1.5rem;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}

.welcome-part article main .intro-img h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.welcome-part article main .intro-img p {
  font-size: 1.5rem;
}

.welcome-part article main:first-child .intro-img {
  background-image: url("./Images/foamy-cappuccino-wood-table-generated-by-ai.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.welcome-part article main:nth-child(2) .intro-img {
  background-image: url("./Images/steam-rises-as-coffee-cools-night-generated-by-ai.jpg");
  background-position: bottom center;
}

.welcome-part article main:nth-child(3) .intro-img {
  background-image: url("./Images/dark-frothy-steam-refreshes-barista-coffee-shop-generated-by-ai.jpg");
  background-position: bottom;
}

.welcome-part article ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(50, 50, 50);
  gap: 1rem;
  position: absolute;
  bottom: 1.5rem;
}

.welcome-part article ul li {
  padding: 0.4rem;
  border-radius: 50%;
  transition: background 0.5s;
  background: #2b2b2b;
  cursor: pointer;
}

.welcome-part article ul li:hover {
  transition: 0.2s;
  background: white;
}

.alert {
  position: fixed;
  bottom: 1.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 3;
}

.alert p {
  display: none;
  color: rgb(255, 255, 255);
  background: #d55555b4;
  padding: 0.5rem;
  border: 1px solid red;
  border-radius: 0.3rem;
}

.box-2 {
  /* height: 75vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.5rem;
}

.form-part {
  background: #00000040;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(255, 255, 255, 1);
  width: 22rem;
  padding: 0.8rem;
  color: white;
  position: relative;
  z-index: 3;
}

.form-part form {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.form-part form input,
form select {
  padding: 0.5rem 0.5rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  background: rgba(76, 76, 76, 0.412);
  color: white !important;
  outline: none;
}

.box-2 article:nth-child(2) h3 {
  font-size: 1.5rem;
}

.form-part form div {
  display: flex;
  flex-direction: column;
}

.form-part form div span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group {
  flex-direction: row !important;
}

#user-state {
  width: 8.7rem;
  margin-right: 0.5rem;
}

#zip {
  width: 100%;
}

.terms-checkbox {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}

input:read-only {
  align-self: start;
}

.terms-checkbox label a {
  color: rgb(13, 107, 221);
  cursor: pointer;
  text-decoration: none;
}

.terms-checkbox label a:hover {
  transition: 0.3s;
  text-decoration: underline;
  color: #2179c7;
}

.form-part .fa-xmark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.3rem;
  background: #f43939;
  border-radius: 50%;
  position: absolute;
  right: 0.8rem;
  top: 10px;
  cursor: pointer;
}

.form-part .fa-xmark:hover {
  transition: all 1s;
  transform: rotate(180deg);
}

form div:last-child {
  flex-direction: row !important;
  gap: 0.5rem;
  align-items: center;
}

form div:last-child span {
  font-size: 0.7rem;
  cursor: pointer;
}

form div:last-child span:hover {
  color: #0080ff;
  text-decoration: underline;
  transition: 0.5s;
}

.btn {
  padding: 0.5rem 1.5rem !important;
  cursor: pointer;
  border: none !important;
}

.reg-btn {
  background: #16c54e !important;
}

.reg-btn:hover {
  background: #06a939 !important;
}

.login-btn {
  background: #0080ff !important;
  transition: 0.5s !important;
}

.login-btn:hover {
  transition: 0.5s !important;
  background: #025fbc !important;
}
.validate{
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
}
.product {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.product .card-section {
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  overflow: scroll;
  padding: 1.5rem 1rem;
}

.product h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 1rem;
  background: #b5b5b5;
  border-radius: 1.5rem;
  text-decoration: underline;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.card-section .cards {
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.247);
  transition: transform 0.8s;
}

.cards:hover {
  transform: scale(1.1);
  /* background: #000; */
}

.card-section div .product_img {
  height: 30vh;
  width: 16.5rem;
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.cards div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.cards div:last-of-type h3 {
  font-weight: bold !important;
  font-size: 1.7rem;
  width: 100%;
  border-bottom: 4px double black;
}

.cards div:last-of-type div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cards div:last-of-type div button {
  border: none;
  padding: 0.6rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  background-color: #15dd57;
  cursor: pointer;
  color: white;
}

.cards div:last-of-type div button:first-child {
  background: transparent;
  border: 1px solid #0088ff;
  color: #0088ff;
}

.cards div:last-of-type div button:first-child:hover {
  background: #0088ff;
  border: 1px solid #0088ff;
  color: white;
  transition: 0.3s;
}

.cards div:last-of-type div button:last-child {
  background: transparent;
  border: 1px solid #15dd57;
  color: #15dd57;
}

.cards div:last-of-type div button:last-child:hover {
  background: #15dd57;
  border: 1px solid #15dd57;
  color: white;
  transition: 0.3s;
}

footer {
  background: #a2a2a265;
  color: white;
  padding: 1rem;
  /* height: 25vh; */
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.241);
}

footer article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.social-links {
  align-self: flex-start;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 3px double white;
}

.social-links ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
}

footer article ul li a {
  color: white;
  text-decoration: none;
}

footer article .extra-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.8rem;
  /* padding: 1rem; */
  border-top: 3px double white;
  border-bottom: 3px double white;
  border-radius: 1rem;
  background: #0000002a;
  overflow: hidden;
}

.extra-links li:nth-child(odd) {
  padding: 1rem;
  cursor: pointer;
}

.extra-links li:nth-child(odd):hover {
  background: #00000048;
  transition: 0.5s;
}

@media screen and (min-width: 0px) and (max-width: 330px) {
  :root {
    font-size: 8px;
  }

  .card-section div .product_img {
    padding: 0rem;
    height: 15vh;
    width: 60vw;
  }
}

@media screen and (min-width: 321px) and (max-width: 720px) {
  :root {
    font-size: 13px;
  }

  header form {
    display: none !important;
  }
}
